.table.table-bordered {
    background-color: #c5c5c5aa;
}

body{
    background-image: url(../qlogo.png);
    background-repeat: no-repeat;
}

#title{
    padding-left: 20%;
    font-family: 'Times New Roman', Times, serif;
    font-size: 6em;
    padding-top: 2%; 
    font-style: oblique;
    
    
}

#btns{
    padding-left: 20%;
    list-style-type: none;
    font-family: 'Times New Roman', Times, serif;
}

#search{
    padding-left: 20%;
    font-family: 'Times New Roman', Times, serif;
    
}

.bttns{
    
    margin-left: 32%;
    font-family: 'Times New Roman', Times, serif;
}

